/* -- -- Preformateando -- -- */
*{
    margin: 0;
    padding: 0;
}

/* -- -- Fuentes -- -- */
@font-face {
    font-family: "orbitron";
    src: url(../fonts/orbitron/Orbitron-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* -- -- Variables -- -- */
.contenedor{
    width: 90%;
    max-width: 1920px;
    margin: 0 auto ;
}

/* -- -- HEADER -- -- */
header{
    width: 100%;
    background-image: url(../img/bg-espacio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* -- -- NAV -- --*/
header nav{
    width: 100%;
}

header nav .contenedor{
    display: flex;
}

header nav .contenedor .logo{
    font-family: orbitron;
    font-size: 16px;
}