/* -- -- Preformateando -- -- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- -- Fuentes -- -- */
@font-face {
    font-family: "orbitron";
    src: url(../fonts/orbitron/Orbitron-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* -- -- Variables -- -- */
.contenedor{
    width: 90%;
    max-width: 1920px;
    margin: 0 auto ;
}

.texto-normal{
    font-family: orbitron;
    font-size: 16px;
}

/* -- -- HEADER -- -- */
header{
    width: 100%;
    background-image: url(../img/bg-espacio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* -- -- NAV -- --*/
header nav{
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
}

header nav .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav .contenedor .logo{
    width: 25%;
    color: #00A9FF;
}

header nav .contenedor .logo p{
    padding: 20px 0;
}

header nav .contenedor .menu{
    width: 75%;
    justify-content: space-between;
    text-align: end;
}

header nav .contenedor .menu a{
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 16px;
}

header nav .contenedor .menu a:last-child{
    margin-right: 0;
}

header nav .contenedor .menu a:hover{
    background-color: #00A9FF;
    border-radius: 8px;
}